{% extends 'authapp/base.html' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Django Level 5</h1>
        <p class="lead">Lorem ipsum dolor</p>
        <hr class="my-2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, labore adipisci? Nulla, maxime est. Suscipit quidem in dicta, aut consequatur, officiis unde itaque obcaecati velit sequi iusto saepe atque illum?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Donate</a>
        </p>
    </div>
{% endblock body %}
    