{% extends 'authapp/base.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">Login</h1>
    <p class="lead">Lets get you logged in</p>
    <hr class="my-2">
    <form action="{%url 'authapp:user_login'%}" method="POST">
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" name="username" placeholder="Username">
        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="Password">
        <p class="lead">
            <input class="btn btn-primary btn-lg" type="submit" value="Login">
        </p>
    </form>
</div>
{% endblock body %}